<%- include('partials/header') -%>    

    <div class="jumbotron text-center" id="title">
        <h1 id="titleH1"><%= dayNum%> Entry</h1>
    </div>
    <div class="form-outline mb-4 text-center">
        <button onclick=goBack() id="backBtn">Back</button>
    </div>

    <div class="container">
        <div class="row align-items-center">
          <div class="col-md-12" >
            <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="text-center foodTh" id="thead">Food</th>
                    <th scope="col" class="text-center foodTh" id="thead">Calories</th>
                    <th scope="col" class="text-center" id="thead"></th>
                  </tr>
                </thead>
                <tbody>
                    <% let total = 0; %> 
                    <% for(let i = 0; i < foodList.length; i++) { %>    
                        <% total += foodList[i].calorieAmount %> 
                        <tr>
                            <td class="text-center"><p class="foodTableName"><%= foodList[i].foodName %></p></td>
                            <td class="text-center"><p class="foodTableName"><%= foodList[i].calorieAmount %></p></td>
                            <td class="tdDeleteFood"> <button id="<%= foodList[i]._id %> " class="material-symbols-outlined red601" onclick="deleteFood(this.id)">delete</button> </td>
                        </tr>            
                    <% } %>
                    <div class="container">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6 text-center">
                                    <a href="/food" id="addFood">Add A Food!</a>
                                </div>
                                <div class="col-sm-6 text-center">
                                     Total Calories for <%= dayNum%>: <span id="calorieTotal"><%= Math.round(total, 2) %></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </tbody>
              </table>
          </div>
        </div>
      </div>

      

      
      <script>
        const populate = async () => {
            console.log(window.location.href.split('/')[4])
            sessionStorage.setItem('id', window.location.href.split('/')[4])   

            const flag = localStorage.getItem('flag');
            console.log('flag: ', flag)
            if(flag == 0) {
                console.log('flag < 1');
                // 
                localStorage.removeItem('flag');
                localStorage.setItem('flag', 1)
                const myTimeout = setTimeout(delay, 350);

                function delay() {
                    window.location.reload()
                }
                
            }
            console.log('flag again: ', flag)
        }

        document.onload = populate();
        


        const goBack = () => {
            window.location.assign('/days')
        }
        
        const deleteFood = async (id) => {
            console.log(id)
            console.log(window.location.href.split('/')[4])
            try {
                const res = await fetch('/food', {
                    method: 'DELETE',                
                    headers: { 'Content-Type': 'application/json'},
                    body: JSON.stringify({userDayId: id.trim(), dayId: window.location.href.split('/')[4]})
                });
                const data = await res.json();
                console.log('data after delete: ', data);   
                window.location.reload();            
            }
            catch (err){
                console.error(err);
            } 
        }
      </script>

<%- include('partials/footer') -%> 